[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-embed-video = "*"
pymemcache = "*"
python-dotenv = "*"
django-debug-toolbar = "*"
redis = "*"
django-redisboard = "*"
attrs = "*"
djangorestframework = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
